<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>jQuery WEUI</title>
    <meta name="description" content="Write an awesome description for your new site here. You can edit this line in _config.yml. It will appear in your document head meta (for Google search results) and in your feed.xml site description.">

	<link rel="stylesheet" href="css/weui.min.css"/>
	<link rel="stylesheet" href="css/jquery-weui.css"/>
	<link rel="stylesheet" href="css/page.css">
    <link rel="stylesheet" href="css/custom.css">
	    <script type="text/template" id="person_template">
            <%= name %>, <%= message %>
        </script>
  </head>

  <body ontouchstart>
    <div class="weui_tab">
  <div class="weui_tab_bd">
    <div id="tab1" class="weui_tab_bd_item weui_tab_bd_item_active">
		<div class="page slideIn article">
			<div class="hd">
				<h1 class="page_title">Article</h1>
			</div>
			<div class="bd">
				<article class="weui_article">
					<h1>大标题</h1>
					<section>
						<h2 class="title">章标题</h2>
						<section>
							<h3>1.1 节标题</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute</p>
						</section>
						<section>
							<h3>1.2 节标题</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
								tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
								proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</section>
						<a href="javascript:;" class="weui_btn weui_btn_primary">我要参加</a>
					</section>
				</article>
			</div>
		</div>
	  
    </div>
    <div id="tab2" class="weui_tab_bd_item">
      <h1 class="doc-head">通讯录</h1>
    </div>
    <div id="tab3" class="weui_tab_bd_item">
      <h1 class="doc-head">发现</h1>
    </div>
    <div id="tab4" class="weui_tab_bd_item">
      <h1 class="doc-head">我的</h1>
    </div>
  </div>
  
  <div class="weui_tabbar">
    <a href="#tab1" class="weui_tabbar_item weui_bar_item_on">
      <div class="weui_tabbar_icon">
        <img src="images/icon_nav_button.png" alt="">
      </div>
      <p class="weui_tabbar_label">活动</p>
    </a>
    <a href="#tab2" class="weui_tabbar_item">
      <div class="weui_tabbar_icon">
        <img src="images/icon_nav_cell.png" alt="">
      </div>
      <p class="weui_tabbar_label">人员</p>
    </a>
    <a href="#tab3" class="weui_tabbar_item">
      <div class="weui_tabbar_icon">
        <img src="images/icon_nav_toast.png" alt="">
      </div>
      <p class="weui_tabbar_label">发现</p>
    </a>
    <a href="#tab4" class="weui_tabbar_item">
      <div class="weui_tabbar_icon">
        <img src="images/icon_nav_dialog.png" alt="">
      </div>
      <p class="weui_tabbar_label">我</p>
    </a>
  </div>
</div>


    <script src="js/jquery-2.1.4.js"></script>
	<script src="js/jquery-weui.js"></script>
	<script src="js/demos.js"></script>
	<script src="js/underscore-min.js"></script>
	<script src="js/backbone-min.js"></script>
	<script src="js/custom.js"></script>

  </body>

</html>
